node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.nitro
.tanstack
.wrangler
.output
.vinxi
d1-migrations
__unconfig*
todos.json
Thumbs.db
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
poc
docs