@layer theme, base, mantine, components, utilities;
@import "tailwindcss";

:root {
  --mantine-color-body: #fafafa;
}

body {
  font-family: "Geist Variable", sans-serif;
}

.mantine-Stepper-root {
  span[data-progress="true"] {
    border: 2px solid;
    --stepper-color: black;
  }
}
